<!-- home.html -->
<div class="intro" style="background-color: #0e0e0e; padding: 20px; color: white;">

    <div class="row">
        <div class="col-sm-9">
            <h1>Welcome to the PiCamera GUI</h1>
        </div>
        <!-- <div class="col-sm-3">
            <img src="/static/img/vib.png" style="width:96px; padding:10px">
            <img src="/static/img/kul.png" style="width:96px; padding:10px  ">
        </div> -->

    </div>
    <!-- <div class="row">
        <div class="col-sm-6">
            <li> Maintained by the Liu Lab @ VIB-KU Leuven Center for Brain and Disease Research. </li>
            <li> Created by the <a href="https://lab.gilest.ro/">Gilestro Lab @ Imperial College London</a> </li>
            <li> Contact: antonio.ortega@kuleuven.vib.be</li>
        </div>

   </div> -->
</div>


    <div class="jumbotron text-center" ng-cloak>

                <h1>Platform Overview  </h1>
                    <!-- <select id="Host" name="Host" ng-model="HostService.model.Host">
                        <option value="http://localhost:80">Localhost</option>
                        <option value="http://gbw-d-l0001:80">Node (A zone)</option>
                        <option value="http://192.169.123.1:80">Node (Ethoscope Wifi)</option>
                        <option value="http://localhost:8000">Outside</option>
                    </select> -->

                    <!--<div class="intro">Scan the network to detect connected ethoscopes</div>-->
        <!--<button class=" btn btn-default" ng-click="get_devices()">Scan Network for Devices</button>-->

        <div id="node-info" class="intro">
             <div class="row">
                 <div class="col-sm-6">
                <h2><span class="fa fa-list"></span> {{n_devices}} devices:</h2>
                    <li ng-repeat="(status, n) in status_n_summary">{{n}} {{status}} </li>
                </div>

                <div class="col-sm-6">
                <h2><span class="fa fa-clock-o"></span> Time:</h2>
                    <li> On the platform, {{time}}</li>
                    <li> On your machine, {{localtime}}</li>
                </div>

            </div>
        </div>

    </div>

<!-- **** SENSORS LIST TABLE **** -->
<div ng-if="has_sensors" >
<table class="table table-striped" ng-cloak>
            <thead>
            <th>
                <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse; orderSensors = True">
                Name
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                Status
                <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'location'; sortReverse = !sortReverse">
                Location
                <span ng-show="sortType == 'location' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'location' && sortReverse" class="fa fa-caret-up"></span>    
            </th>
            <th>
                <a href="#" ng-click="sortType = 'temperature'; sortReverse = !sortReverse">
                Temperature
                <span ng-show="sortType == 'temperature' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'temperature' && sortReverse" class="fa fa-caret-up"></span>    
            </th>
            <th>
                <a href="#" ng-click="sortType = 'humidity'; sortReverse = !sortReverse">
                Humidity
                <span ng-show="sortType == 'humidity' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'humidity' && sortReverse" class="fa fa-caret-up"></span>    
            </th>
            <th>
                <a href="#" ng-click="sortType = 'light'; sortReverse = !sortReverse">
                Light
                <span ng-show="sortType == 'light' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'light' && sortReverse" class="fa fa-caret-up"></span>    
            </th>
            <th>
                <a href="#" ng-click="sortType = 'ip'; sortReverse = !sortReverse">
                ip
                    <span ng-show="sortType == 'ip' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'ip' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                id
                <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            </thead>
            <tbody>
            <tr ng-repeat="sensor in sensors |  orderObjectBy:sortType:sortReverse:orderSensors">
                <td>
                    <div ng-if="sensor.status != 'offline'">
                        <a ng-href="/#sensor/{{sensor.id}}" target="_blank">
                        <span class="fa fa-circle-o"></span><span> {{sensor.name}}</span>
                        </a>
                    </div>
                    <div ng-if="sensor.status == 'offline'"><span class="fa fa-circle-o"></span><span> {{sensor.name}}</span></div>
                </td>
                <td>{{sensor.status}}</td>
                <td>{{sensor.location}}</td>
                <td>{{sensor.temperature}}</td>
                <td>{{sensor.humidity}}</td>
                <td>{{sensor.light}}</td>
                <td>{{sensor.ip}}</td>
                <td title="{{sensor.id}}">{{sensor.id}}</td>
            </tr>
        </tbody>
</table>
</div>

  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>

        <input type="text" class="form-control" placeholder="Filter devices " ng-model="filterEthoscopes">

      </div>      
    </div>
  </form>

<!-- **** ETHOSCOPE LIST TABLE **** -->
<table class="table table-striped" ng-cloak>
    <!-- Header of the table 
    Name | Status | LoadAvg | Since | ip | id
    -->
    <thead>
    <th>
        <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse; orderEthoscopes = True">
        Name
        <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
    </th>
    <th>
        <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">
        Status
        <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
    </th>
    <th>
        <a href="#" ng-click="sortType = 'loadavg'; sortReverse = !sortReverse">
        LoadAvg
        <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
    </th>
    <th>
        <a href="#" ng-click="sortType = 'time'; sortReverse = !sortReverse">
        Since
        <span ng-show="sortType == 'time' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'time' && sortReverse" class="fa fa-caret-up"></span>    
    </th>
    <th>
        <a href="#" ng-click="sortType = 'ip'; sortReverse = !sortReverse">
        ip
            <span ng-show="sortType == 'ip' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'ip' && sortReverse" class="fa fa-caret-up"></span>
    </th>
    <th>
        <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">
        id
        <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
    </th>
    </thead>
    <tbody>
        <tr ng-repeat="device in devices">

            <td>
                <!-- Name -->

                <div ng-if="device.status != 'offline'">
                    <a ng-href="/#picamera/{{device.id}}" target="_blank">
                    <span>{{device.name}}</span>
                    </a>
                </div>
                <div ng-if="device.status == 'offline'">
                    <span>{{device.name}}</span>
                </div>
            </td>
            <td>
                <!-- Status -->

                <span ng-if="device.status == 'initialising'" class="fas fa-spinner" title={{device.status}}></span>
                <span ng-if="device.status == 'running'" class="fa fa-play-circle color-green" title={{device.status}}></span>
                <span ng-if="device.status == 'recording'" class="fa fa-play-circle color-red" title={{device.status}}></span>
                <span ng-if="device.status == 'streaming'" class="fa fa-play-circle color-red" title={{device.status}}></span>
                <span ng-if="device.status == 'stopped'" class="fa fa-stop-circle" title={{device.status}}></span></td>
            <td>
                <!-- LoadAvg -->
                
                <div class="indicator_bar" title={{device.loadavg[0]}}>
                    <div class="loadavg" id="{{device.id}}-1_min" style="width:{{device.loadavg[0]}}; background-color: {{device.color}}"></div>
                </div>
                
                <div class="indicator_bar" title={{device.loadavg[1]}}>
                    <div class="loadavg" id="{{device.id}}-5_min" style="width:{{device.loadavg[1]}}; background-color: {{device.color}}"></div>
                </div>
                
                <div class="indicator_bar" title={{device.loadavg[2]}}>
                    <div class="loadavg" id="{{device.id}}-15_min" style="width:{{device.loadavg[2]}}; background-color: {{device.color}}"></div>
                </div>
            </td>
            <td>
                <!-- Since -->
                {{secToDate(device.time)}}
            </td>               
            <td>
                <!-- IP -->
                <span ng-if="device.status == 'offline'" title="Last known IP: {{device.ip}}">offline</span>
                <span ng-if="device.status != 'offline'" >{{device.ip}}</span>
            </td>
            <td title="{{device.id}}">
                <!-- ID -->
                {{device.id.substring(0,6)}}
            </td>
        </tr>
    </tbody>
</table>
