<!-- home.html -->

<div class="jumbotron text-center" ng-cloak>

    <div class="header">
      <div class="row">
      <h1>{{device.name}}</h1>

        <!-- <select id="Host" name="Host" ng-model="HostService.model.Host">
        <option value="http://localhost:80">Localhost</option>
        <option value="http://gbw-d-l0001:80">Node (A zone)</option>
        <option value="http://192.169.123.1:80">Node (Ethoscope Wifi)</option>
        <option value="http://localhost:8000">Outside</option>
    </select> -->

    </div>
      <ul>
        <li title="Device IP address"><a href="ssh://alarm@{{device.ip}}">{{device.ip}}</a></li>
        <li ng-if="delta_t_min <= 3" title="Current time on the device">{{device_datetime}}</li>
        <li ng-if="delta_t_min > 3" title="There is a difference of more than 3 minutes between node and this device" style="color: #FF431F;"><span class="fa fa-warning"></span>{{device_datetime}}</li>
        </ul>
    </div>

    <div ng-if="device.status == 'running' || device.status == 'recording' || device.status == 'streaming' " >
    <div id="node-info" class="intro">
        <p><span class="fa fa-clock"></span> Running since {{picamera.start_date_time(device.time)}}
            (i.e. {{picamera.elapsedtime(device.monitor_info.last_time_stamp)}} ago)
            <br>
            <span ng-if="device.status == 'running'" class="fas fa-tachometer-alt"></span> {{device.fps}} FPS
            <br>
            <span ng-if="device.CPU_temp > 70" class="fas fa-temperature-high"></span>
            <span ng-if="device.CPU_temp <= 70" class="fas fa-temperature-low"></span> CPU temperature: {{device.CPU_temp}} &#8451 <!-- degree sign -->
            
        </p>

    </div>
    </div>
    
    <div class="jumbotron text-center" ng-cloak>
        <button type="button" class="btn btn-primary" ng-click="start(device.id)" data-toggle="modal" >Start PiCamera</button>
        <button type="button" class="btn btn-default" ng-click="pause(device.id)" data-toggle="modal" >Pause PiCamera</button>
        <button type="button" class="btn btn-default" ng-click="stop(device.id)" data-toggle="modal" >Stop PiCamera</button>
    </div>

    <img ng-src="{{stream_url}}" alt="" width="1280" height="960" class="center"></img>


    <div>
        <table class="table table-striped" ng-cloak>
            <thead>
            <th>
                <a href="#">
                Parameter
            </th>
            <th>
                <a href="#">
                Input
            </th>
	    <th>
                <a href="#">
                Value
	    </th>
            </thead>
            <tbody>
                <tr ng-repeat="(key, value) in input">
                    <td>
                        {{key}}
                    </td>
                    <td>
			            <input type="text" name = '{{key}}' ng-model="input[key]" id='{{key}}' focus-me="{{in_focus==key}}"/>
                        
                    </td>
                    <td>
                        {{output[key]}}
                    </td>
                </tr>
            </tbody>
    </div>
